DJANGO_ENV=dev
SECRET_KEY=change-me
DEBUG=True

POSTGRES_DB=bookwave
POSTGRES_USER=bookwave
POSTGRES_PASSWORD=bookwave
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
